*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.text__new {
  margin-top: 20px;
  display: block;
  width: 490px;
  color: #ffffff;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 700;
  background-color: #FF6F86;
  padding: 1px 3px;
}
.text__new--buy {
  padding: 0;
  width: 390px;
  text-align: center;
  margin: 10px auto 0 auto;
  font-family: "ProximaNova";
  font-style: normal;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
}

.intro {
  overflow: hidden;
  z-index: 100;
  position: relative;
  padding: 223px 0 167px 0;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.intro__text {
  z-index: 1000;
  position: relative;
}
.intro__logo {
  display: block;
  width: 192px;
  height: 40px;
}
.intro__logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.intro__img {
  position: absolute;
  right: -8%;
  top: 9%;
  display: block;
  width: 100%;
  height: 120%;
}
.intro__img svg {
  display: block;
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 100px;
  color: #4E3658;
}
.title-intro {
  margin-top: 22px;
  width: 400px;
  position: relative;
}
.title-intro::after {
  position: absolute;
  top: -9px;
  right: 20px;
  content: url("../img/heart.svg");
  display: block;
  width: 26px;
  height: 23px;
}
.title-whywe {
  padding: 0 20%;
  text-align: center;
  margin-bottom: 58px;
}
.title-whywe-last {
  text-align: center;
  padding: 0 15%;
  margin-bottom: 0;
  margin-top: 58px;
}
.title-pros {
  text-align: center;
  padding: 0 190px;
}
.title-autor {
  text-align: center;
  padding: 0 11%;
}
.title-about {
  text-align: center;
  padding: 0 11%;
}
.title-review {
  text-align: center;
  margin-bottom: 65px;
}
.title-buy {
  text-align: center;
  margin-bottom: 60px;
}
.title-footer {
  text-align: center;
}

.subtitle {
  font-family: "ProximaNova";
  font-style: normal;
  font-size: 32px;
  line-height: 39px;
  color: #4E3658;
}
.subtitle-thin {
  margin-top: 53px;
  font-weight: 400;
}
.subtitle-intro {
  width: 491px;
  margin: 29px 0 89px 0;
  font-weight: 700;
}
.subtitle-whywe {
  text-align: center;
  margin-bottom: 82px;
}
.subtitle-review {
  text-align: center;
}
.subtitle-buy {
  text-align: center;
}

.button {
  display: block;
  width: 365px;
  height: 103px;
  background: #FF8095;
  box-shadow: 3px 3px 10px rgba(255, 128, 149, 0.6);
  text-align: center;
  padding: 28px 0 28px 0;
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF;
}
.button:hover {
  background: #FF6F86;
  box-shadow: 3px 3px 10px rgba(255, 128, 149, 0.6);
  transition: 0.2s linear;
}
.button-review {
  margin: 12px auto 0 auto;
  background: #FAC36A;
  box-shadow: 3px 3px 10px rgba(250, 195, 106, 0.5);
}
.button-review:hover {
  background: #FFB641;
  transition: 0.2s linear;
}
.button-buy {
  margin: 70px auto 58px auto;
}

.whywe {
  padding: 90px 0 160px 0;
  background-color: #ffffff;
  background-image: url("../img/vector.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.whywe__inner {
  background-color: #ffffff;
  padding: 76px 97px 124px 193px;
  border: 1px solid rgba(78, 54, 88, 0.3);
  box-shadow: 5px 5px 10px rgba(78, 54, 88, 0.3);
  border-radius: 45px;
}
.whywe__text {
  margin-bottom: 75px;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #4E3658;
  display: flex;
  align-items: center;
}
.whywe__text::before {
  content: url("../img/bubble.svg");
  margin-right: 15px;
  display: block;
  width: 30px;
  height: 30px;
}
.whywe__text:last-child {
  margin-bottom: 0;
}

.video {
  padding: 147px 0 150px 0;
  background-color: #E4E4FF;
}
.video__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 118px 97px 119px 97px;
  border: 1px solid rgba(78, 54, 88, 0.3);
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(78, 54, 88, 0.3);
  border-radius: 45px;
}
.video__inner--text {
  width: 42%;
}
.video__thin {
  display: block;
  margin-top: 30px;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #4E3658;
}
.video__img {
  position: relative;
}
.video__play {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: block;
  width: 106px;
  height: 106px;
}
.video__play svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: #FF8095;
}
.video__play svg:hover {
  fill: #FF6F86;
  transition: 0.2s linear;
}
.video__text {
  padding: 30px 97px 0 97px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #4E3658;
}
.video .heart {
  position: absolute;
}
.video .heart svg {
  display: block;
  width: 100%;
  height: 100%;
}
.video .heart-pink {
  top: 39px;
  right: 25px;
  display: block;
  width: 59px;
  height: 55px;
}
.video .heart-dark {
  top: -106px;
  right: 214px;
  display: block;
  width: 56px;
  height: 52px;
}
.video .heart-yellow {
  left: 87px;
  bottom: -100px;
  display: block;
  width: 91px;
  height: 87px;
}

.pros {
  padding: 104px 0 120px 0;
}
.pros__inner {
  padding: 90px 0 49px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pros__inner--item {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 72px 30px;
  width: 367px;
  height: 350px;
  background-color: #ffffff;
  border: 1px solid rgba(78, 54, 88, 0.3);
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(78, 54, 88, 0.3);
  border-radius: 45px;
}
.pros__inner--item:hover {
  background: #E4E4FF;
  border: 1px solid rgba(78, 54, 88, 0.3);
  transform: scale(1.05);
  transition: 0.2s linear;
  cursor: pointer;
}
.pros__inner--item__text {
  margin: 0;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #4E3658;
}
.pros__img {
  display: block;
  margin: 0 auto;
  width: 1042px;
  height: 615px;
}
.pros__img svg {
  display: block;
  width: 100%;
  height: 100%;
}

.autor {
  overflow: hidden;
  position: relative;
  background-color: #E4E4FF;
  padding: 142px 0 164px 0;
  z-index: 5;
}
.autor__inner {
  width: 753px;
  padding: 77px 95px 85px 98px;
  background-color: #ffffff;
  border: 1px solid rgba(78, 54, 88, 0.3);
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(78, 54, 88, 0.3);
  border-radius: 45px;
}
.autor__inner--text {
  margin-bottom: 48px;
  margin-top: 0;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  color: #4E3658;
}
.autor__inner--text:last-child {
  margin-bottom: 0;
}
.autor__text {
  margin-top: 75px;
}
.autor__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 75px;
  color: #4E3658;
}
.autor__subtitle {
  margin-top: 34px;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #4E3658;
}
.autor__subtitle::after {
  margin-top: 42px;
  content: "";
  display: block;
  width: 230px;
  height: 3px;
  background-color: #FAC36A;
}
.autor__img {
  position: absolute;
  right: -154px;
  bottom: -164px;
  z-index: -1;
  display: block;
  width: 678px;
  height: 920px;
}

.about {
  padding: 120px 0;
}
.about__inner {
  margin-top: 72px;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__inner--item {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #FAC36A;
}
.about__inner--item:last-child {
  margin-bottom: 0;
}
.about__inner--item__img {
  display: block;
  margin-right: 15px;
  width: 32px;
  height: 32px;
  flex: 0 0 auto;
}
.about__inner--item__img svg {
  display: block;
  width: 100%;
  height: 100%;
}
.about__inner--item__text {
  margin: 0;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  color: #4E3658;
}

.review {
  background-color: #fff;
}
.review__inner {
  margin-top: 102px;
}
.review__inner--mobile {
  display: none;
}
.review__inner--item {
  margin-bottom: 90px;
  display: flex;
  width: 80%;
  align-items: flex-end;
}
.review__inner--item:first-child {
  margin: 0 auto 90px auto;
}
.review__inner--item:nth-child(2) {
  margin-right: auto;
}
.review__inner--item:nth-child(3) {
  margin-left: auto;
}
.review__inner--item__text {
  padding: 56px 75px 69px 97px;
  background: #FFFFFF;
  border: 1px solid rgba(78, 54, 88, 0.3);
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(78, 54, 88, 0.3);
  border-radius: 45px;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  color: #4E3658;
}
.review__person {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review__person--img {
  display: block;
  width: 173px;
  height: 171px;
  border-radius: 100%;
}
.review__person--img img {
  display: block;
  object-fit: cover;
}
.review__person--name {
  margin-top: 19px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  color: #FAC36A;
}

.buy {
  padding: 126px 0 110px 0;
}
.buy__inner {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.buy__inner--price__last {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 75px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #4E3658;
}
.buy__inner--price__new {
  margin: 40px 0 15px 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  line-height: 150px;
  text-align: center;
  color: #FAC36A;
}
.buy__inner--currency {
  margin: 0 0 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 75px;
  text-align: center;
  color: #FAC36A;
}
.buy__inner--currency p {
  margin: 0;
}
.buy__inner--currency p::after {
  content: "/";
  padding: 0 5px;
}
.buy__inner--currency p:last-child::after {
  display: none;
}
.buy__small {
  margin: 0 auto;
  text-align: left;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #4E3658;
}
.buy__small small {
  margin-bottom: 15px;
  display: block;
}
.buy__small--public {
  color: #4E3658;
  text-decoration: underline;
}

.footer {
  padding-bottom: 120px;
}
.footer__inner {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__inner--text {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #4E3658;
}
.footer__inner--email {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #FAC36A;
  text-decoration: underline;
}
.footer__inner--email:hover {
  color: #FFB641;
  transition: 0.2s linear;
}
.footer__link {
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-between;
  width: 550px;
}
.footer__link--item {
  display: block;
  width: 65px;
  height: 65px;
  fill: #FAC36A;
}
.footer__link--item svg {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 1366px) {
  .title {
    font-size: 72px;
    line-height: 86px;
  }
  .title-intro::after {
    top: -6px;
    right: 57px;
  }

  .subtitle {
    font-size: 28px;
  }

  .intro__img {
    width: 100%;
    height: 100%;
  }

  .whywe__text {
    font-size: 24px;
  }

  .pros__inner--item__text {
    font-size: 24px;
  }

  .autor__inner--text {
    font-size: 24px;
  }
  .autor__title {
    font-size: 56px;
  }
  .autor__subtitle {
    font-size: 28px;
  }
  .autor__subtitle::after {
    width: 203px;
  }
  .autor__text {
    margin-top: 65px;
  }
}
@media (max-width: 1112px) {
  .container {
    padding: 0 1%;
  }

  .title {
    font-size: 64px;
    line-height: 77px;
  }
  .title-intro::after {
    top: -4px;
    right: 93px;
  }
  .title-autor {
    padding: 0;
  }

  .subtitle {
    font-size: 22px;
    line-height: 26px;
  }

  .button {
    width: 360px;
    height: 95px;
    padding: 25px 0;
  }

  .intro {
    padding: 130px 0 167px 0;
  }
  .intro__img {
    right: -1%;
    top: 9%;
    width: 90%;
    height: 110%;
  }

  .whywe__text {
    margin-bottom: 70px;
  }

  .pros__inner--item {
    width: 355px;
  }
  .pros__inner--item__text {
    font-size: 24px;
  }
  .pros__img {
    width: 100%;
    height: 600px;
  }

  .autor__inner {
    width: 720px;
  }
  .autor__inner--text {
    font-size: 24px;
  }
  .autor__title {
    font-size: 52px;
  }
  .autor__subtitle {
    font-size: 28px;
  }

  .review__inner--item__text {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .pros__inner--item {
    width: 320px;
    padding: 50px 10px;
    height: 325px;
  }
}
@media (max-width: 991px) {
  .text__new {
    margin: 20px auto 0 auto;
  }

  .title {
    font-size: 64px;
  }
  .title-intro {
    width: auto;
  }
  .title-intro::after {
    display: none;
  }
  .title-whywe {
    padding: 0;
    margin-bottom: 40px;
  }

  .subtitle-intro {
    width: auto;
    padding: 0 15%;
  }

  .button-intro {
    margin: 0 auto;
  }

  .intro {
    position: relative;
    padding: 50px 0 1000px 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .intro__logo {
    margin: 0 auto;
  }
  .intro__img {
    top: 43%;
    right: -3%;
    width: 1370px;
    height: 1143px;
  }
  .intro__text {
    position: static;
    text-align: center;
  }

  .whywe__text {
    margin-bottom: 50px;
  }

  .pros__inner--item:hover {
    background: #ffffff;
    border: 1px solid rgba(78, 54, 88, 0.3);
    transform: none;
  }

  .autor__inner {
    width: 670px;
    padding: 72px 90px 80px 93px;
  }
  .autor__img {
    width: 588px;
    height: 830px;
  }

  .about__inner--item__img {
    display: none;
  }
}
@media (max-width: 834px) {
  .title-pros {
    padding: 0 15px;
  }
  .title-autor {
    padding: 0 15px;
  }
  .title-review {
    margin-bottom: 40px;
  }

  .subtitle-video {
    text-align: center;
  }

  .button-review {
    margin: 40px auto 0 auto;
  }

  .intro__img {
    width: 1236px;
    height: 1000px;
  }

  .whywe__inner {
    padding: 50px 70px 120px 70px;
  }

  .video {
    padding: 145px 0 100px 0;
  }
  .video__text {
    padding: 50px 15px 0 15px;
  }
  .video__inner {
    display: flex;
    flex-direction: column;
    padding: 80px 70px 150px 70px;
  }
  .video__inner--text {
    width: 70%;
    text-align: center;
  }
  .video-thin {
    text-align: center;
  }
  .video__img {
    margin-top: 40px;
  }
  .video .heart-yellow {
    bottom: 0;
  }
  .video .heart-pink {
    top: 87%;
  }
  .video .heart-dark {
    top: -3%;
    right: 5%;
  }

  .pros__inner--item {
    width: 48%;
  }

  .autor__inner {
    margin: 0 auto;
    padding: 72px 90px 0px 93px;
  }
  .autor__img {
    position: static;
    width: 523px;
    height: 750px;
  }

  .review__inner {
    display: none;
  }
  .review__inner--item__text {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .review__inner--mobile {
    display: flex;
    flex-direction: column;
  }
  .review__person--name {
    margin: 0 20px;
  }
  .review__person--mobile {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }

  .buy__inner--price__last {
    font-size: 52px;
  }
  .buy__inner--price__new {
    font-size: 100px;
  }

  .footer__link {
    width: 45%;
  }
  .footer__link--item {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 3%;
  }

  .title {
    line-height: 78px;
  }

  .subtitle {
    line-height: 29px;
  }

  .button {
    width: 340px;
    height: 80px;
    padding: 17px 0;
    font-size: 28px;
  }

  .intro {
    background-size: 100%;
    background-color: #E4E4FF;
  }
  .intro__img {
    width: 1107px;
    height: 908px;
  }

  .whywe__text {
    font-size: 24px;
    line-height: 29px;
  }

  .video__inner {
    padding: 80px 0 150px 0;
  }
  .video__thin {
    font-size: 24px;
    text-align: center;
  }
  .video .heart-yellow {
    bottom: 38%;
  }

  .footer__inner--text {
    font-size: 24px;
  }
  .footer__inner--email {
    font-size: 24px;
  }
}
@media (max-width: 667px) {
  .title {
    font-size: 54px;
    line-height: 65px;
  }

  .subtitle {
    font-size: 19px;
    line-height: 23px;
  }
  .subtitle-intro {
    margin: 29px 0 50px 0;
  }
  .subtitle-video {
    font-size: 24px;
  }
  .subtitle-buy-buy {
    display: none;
  }

  .button-buy {
    margin: 40px auto;
  }

  .intro {
    padding: 50px 0 700px 0;
  }
  .intro__img {
    top: 46%;
    width: 972px;
    height: 799px;
  }

  .whywe {
    padding: 90px 0;
  }

  .pros {
    padding: 104px 0 0 0;
  }
  .pros__inner {
    padding: 90px 0 0 0;
  }

  .autor {
    padding: 50px 0;
  }
  .autor__text {
    margin-top: 40px;
  }
  .autor__inner {
    width: 98%;
    padding: 50px 30px 0px 30px;
  }
  .autor__inner-text {
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 23px;
  }
  .autor__title {
    font-size: 42px;
  }
  .autor__subtitle {
    font-size: 24px;
    margin-top: 10px;
  }
  .autor__subtitle::after {
    margin-top: 20px;
    width: 176px;
  }
  .autor__img {
    margin: 0 auto;
    width: 368px;
    height: 508px;
  }

  .about {
    padding: 50px 0;
  }
  .about__inner {
    padding: 0 2%;
    margin-top: 50px;
  }
  .about__inner--item__text {
    text-align: center;
    font-size: 22px;
    line-height: 25px;
  }

  .review {
    padding-top: 40px;
  }
  .review__inner--item__text {
    padding: 40px 30px 50px 30px;
    font-size: 21px;
    text-align: center;
  }
  .review__person--img {
    width: 78px;
    height: 77px;
  }
  .review__person--img img {
    width: 78px;
    height: 77px;
  }
  .review__person--name {
    font-size: 28px;
  }

  .buy {
    padding: 120px 0 60px 0;
  }
  .buy__inner--price__last {
    font-size: 44px;
    line-height: 53px;
  }
  .buy__inner--price__new {
    margin: 30px 0 15px 0;
    font-size: 90px;
    line-height: 108px;
  }
  .buy__inner--currency {
    font-size: 48px;
    line-height: 53px;
  }
  .buy__small {
    font-size: 14px;
    line-height: 17px;
  }

  .footer__inner--text {
    font-size: 21px;
  }
  .footer__inner--email {
    font-size: 21px;
  }
  .footer__link {
    margin: 40px auto 0 auto;
    width: 40%;
  }
  .footer__link--item {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 568px) {
  .text__new {
    width: auto;
  }
  .text__new--buy {
    font-size: 16px;
    line-height: 21px;
  }

  .pros__inner {
    display: flex;
    justify-content: center;
  }
  .pros__inner--item {
    margin-bottom: 30px;
    width: 80%;
  }
  .pros__inner--item:hover {
    transform: none;
  }
}
@media (max-width: 414px) {
  .title-intro {
    font-size: 45px;
    line-height: 56px;
    margin-top: 10px;
  }
  .title-whywe {
    margin-bottom: 25px;
    font-size: 34px;
    line-height: 42px;
  }
  .title-whywe-last {
    margin-top: 40px;
    font-size: 34px;
    line-height: 42px;
  }
  .title-pros {
    font-size: 34px;
    line-height: 42px;
  }
  .title-about {
    text-align: center;
    font-size: 32px;
    line-height: 40px;
  }
  .title-review {
    margin-bottom: 30px;
    font-size: 34px;
    line-height: 42px;
  }
  .title-buy {
    margin-bottom: 30px;
    font-size: 34px;
    line-height: 42px;
  }
  .title-footer {
    font-size: 34px;
    line-height: 42px;
  }

  .subtitle-intro {
    margin: 20px 0;
  }
  .subtitle-whywe {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
  }
  .subtitle-review {
    font-size: 24px;
    line-height: 29px;
  }
  .subtitle-buy {
    font-size: 24px;
    line-height: 29px;
  }

  .button {
    width: 260px;
    font-size: 24px;
  }

  .intro__img {
    width: 676px;
    height: 630px;
  }

  .whywe {
    padding: 40px 0;
  }
  .whywe__inner {
    padding: 20px 20px 70px 20px;
  }

  .video {
    padding: 60px 0 40px 0;
  }
  .video__inner {
    padding: 35px 0 120px 0;
  }
  .video__inner--text {
    width: 81%;
  }
  .video__img {
    width: 235px;
    height: 184px;
  }
  .video__img img {
    width: 235px;
    height: 184px;
  }
  .video__play {
    width: 70px;
    height: 70px;
  }
  .video .heart-dark {
    width: 26px;
    height: 24px;
    top: -2%;
    right: 9%;
  }
  .video .heart-pink {
    width: 28px;
    height: 30px;
    top: 80%;
  }
  .video .heart-yellow {
    width: 41px;
    height: 40px;
    bottom: 42%;
  }
  .video__text {
    padding: 35px 0 0 0;
    font-size: 24px;
    line-height: 30px;
  }

  .pros {
    padding: 50px 0 0 0;
  }
  .pros__inner--item {
    width: 95%;
  }
  .pros__img {
    height: 300px;
  }

  .autor__inner--text {
    font-size: 21px;
  }
  .autor__title {
    font-size: 34px;
    line-height: 42px;
  }
  .autor__subtitle {
    font-size: 24px;
    line-height: 29px;
  }
  .autor__img {
    width: 268px;
    height: 364px;
  }

  .about__inner--item {
    margin-bottom: 30px;
    padding-bottom: 18px;
  }
  .about__inner--item__text {
    font-size: 21px;
    line-height: 26px;
  }

  .review__inner--item__text {
    font-size: 21px;
    line-height: 26px;
  }

  .buy__inner--price__last {
    font-size: 34px;
    line-height: 42px;
  }
  .buy__inner--price__new {
    margin: 20px 0 0 0;
    font-size: 60px;
    line-height: 75px;
  }
  .buy__inner--currency {
    font-size: 32px;
    line-height: 40px;
  }
  .buy__small {
    padding: 0 10%;
  }

  .footer {
    padding-bottom: 50px;
  }
  .footer__inner {
    margin-top: 25px;
  }
  .footer__inner--text {
    font-size: 18px;
  }
  .footer__inner--email {
    font-size: 18px;
  }
  .footer__link {
    width: 80%;
  }
}
/*FONTS*/
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPT-Book.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-black.ttf");
  font-weight: 900;
}