*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

/*FONTS*/
@font-face {
  font-family: "ProximaNovs";
  src: url("../fonts/ProximaNova-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "ProximaNova";
  src: url("..//fonts/ProximaNova-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy-black.ttf);
  font-weight: 900;
}