*,
::after,
::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
.container {
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}

.intro {
    overflow: hidden;
    z-index: 100;
    position: relative;
    padding: 223px 0 167px 0;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    &__text {
        z-index: 1000;
        position: relative;
    }
    &__logo {
        display: block;
        width: 192px;
        height: 40px;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &__img {
        position: absolute;
        right: -8%;
        top: 9%;
        display: block;
        width: 100%;
        height: 120%;
        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 100px;
    color: #4E3658; 
    &-intro {
        margin-top: 22px;
        width: 400px;
        position: relative;
        &::after {
            position: absolute;
            top: -9px;
            right: 20px;
            content: url("../img/heart.svg");
            display: block;
            width: 26px;
            height: 23px;
        }
    }
    &-whywe {
        padding: 0 20%;
        text-align: center;
        margin-bottom: 58px;
        &-last {
            text-align: center;
            padding: 0 15%;
            margin-bottom: 0;
            margin-top: 58px;
        }
    }
    &-pros {
        text-align: center;
        padding: 0 190px;
    }
    &-autor {
        text-align: center;
        padding: 0 11%;
    }
    &-about {
        text-align: center;
        padding: 0 11%;
    }
    &-review {
        text-align: center;
        margin-bottom: 65px;
    }
    &-buy {
        text-align: center;
        margin-bottom: 60px;
    }
    &-footer {
        text-align: center;
    }
}
.subtitle {
    font-family: 'ProximaNova';
    font-style: normal;
    font-size: 32px;
    line-height: 39px;
    color: #4E3658;
    &-thin {
        margin-top: 53px;
        font-weight: 400;
    }
    &-intro {
        width: 491px;
        margin: 29px 0 89px 0;
        font-weight: 700;
    }
    &-whywe {
        text-align: center;
        margin-bottom: 82px;
    }
    &-review {
        text-align: center;
    }
    &-buy {
        text-align: center;
    }
}
.button {
    display: block;
    width: 365px;
    height: 103px;
    background: #FF8095;
    box-shadow: 3px 3px 10px rgba(255, 128, 149, 0.6);
    text-align: center;
    padding: 28px 0 28px 0;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
    &:hover {
        background: #FF6F86;
        box-shadow: 3px 3px 10px rgba(255, 128, 149, 0.6);
        transition: .2s linear;
    }
    &-review {
        margin: 12px auto 0 auto; 
        background: #FAC36A;
        box-shadow: 3px 3px 10px rgba(250, 195, 106, 0.5);
        &:hover {
            background: #FFB641;
            transition: .2s linear;
        }
    }
    &-buy {
        margin: 70px auto 58px auto;
    }
}

.whywe {
    padding: 90px 0 160px 0;
    background-color: #ffffff; 
    background-image: url('../img/vector.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    &__inner {
        background-color: #ffffff;
        padding: 76px 97px 124px 193px;
        border: 1px solid rgba(78, 54, 88, 0.3);
        box-shadow: 5px 5px 10px rgba(78, 54, 88, 0.3);
        border-radius: 45px;
    }
    &__text {
        margin-bottom: 75px;
        font-family: 'ProximaNova';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        color: #4E3658;
        display: flex;
        align-items: center;
        &::before {
            content: url('../img/bubble.svg');
            margin-right: 15px;
            display: block;
            width: 30px;
            height: 30px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.video {
    padding: 147px 0 150px 0;
    background-color: #E4E4FF;
    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 118px 97px 119px 97px;
        border: 1px solid rgba(78, 54, 88, 0.3);
        box-sizing: border-box;
        box-shadow: 5px 5px 10px rgba(78, 54, 88, 0.3);
        border-radius: 45px;
        &--text {
            width: 42%;
        }
    }
    &__thin {
        display: block;
        margin-top: 30px;
        font-family: 'ProximaNova';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        color: #4E3658;
    }
    &__img {
        position: relative;
    }
    &__play {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        display: block;
        width: 106px;
        height: 106px;
        svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: #FF8095;
            &:hover {
                fill: #FF6F86;
                transition: .2s linear;
            }
        }
    }
    &__text {
        padding: 30px 97px 0 97px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        color: #4E3658;
    }
    .heart {
        position: absolute;
        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
        &-pink {
            top: 39px;
            right: 25px;
            display: block;
            width: 59px;
            height: 55px;
        }
        &-dark {
            top: -106px;
            right: 214px;
            display: block;
            width: 56px;
            height: 52px;
            
        }
        &-yellow {
            left: 87px;
            bottom: -100px;
            display: block;
            width: 91px;
            height: 87px;
        }
    }
}

.pros {
    padding: 104px 0 120px 0;
    &__inner {
        padding: 90px 0 49px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &--item {
            margin-bottom: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 72px 30px;
            width: 367px;
            height: 350px;
            background-color: #ffffff;
            border: 1px solid rgba(78, 54, 88, 0.3);
            box-sizing: border-box;
            box-shadow: 5px 5px 10px rgba(78, 54, 88, 0.3);
            border-radius: 45px;
            &:hover {
                background: #E4E4FF;
                border: 1px solid rgba(78, 54, 88, 0.3);
                // transform: translate3d(-7px, -12px, 7px);
                transform: scale(1.05);
                transition: .2s linear;
                cursor: pointer;
            }
            &__text {
                margin: 0;
                font-family: 'ProximaNova';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 34px;
                text-align: center;
                color: #4E3658;
            }
        }
    }
    &__img {
        display: block;
        margin: 0 auto;
        width: 1042px;
        height: 615px;
        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.autor {
    overflow: hidden;
    position: relative;
    background-color: #E4E4FF;
    padding: 142px 0 164px 0;
    z-index: 5;
    &__inner {
        width: 753px;
        padding: 77px 95px 85px 98px;
        background-color: #ffffff;
        border: 1px solid rgba(78, 54, 88, 0.3);
        box-sizing: border-box;
        box-shadow: 5px 5px 10px rgba(78, 54, 88, 0.3);
        border-radius: 45px;
        &--text {
            margin-bottom: 48px;
            margin-top: 0;
            font-family: 'ProximaNova';
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 34px;
            color: #4E3658;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__text {
        margin-top: 75px;
    }
    &__title {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 75px;
        color: #4E3658;
    }
    &__subtitle {
        margin-top: 34px;
        font-family: 'ProximaNova';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #4E3658;
        &::after {
            margin-top: 42px;
            content: "";
            display: block;
            width: 230px;
            height: 3px;
            background-color: #FAC36A;
        }
    }
    &__img {
        position: absolute;
        right: -154px;
        bottom: -164px;
        z-index: -1;
        display: block;
        width: 678px;
        height: 920px;
    }
}

.about {
    padding: 120px 0;
    &__inner {
        margin-top: 72px;
        padding: 0 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--item {
            margin-bottom: 50px;
            display: flex;
            align-items: center;
            padding-bottom: 30px;
            border-bottom: 1px solid #FAC36A;
            &:last-child {
                margin-bottom: 0;
            }
            &__img {
                display: block;
                margin-right: 15px;
                width: 32px;
                height: 32px;
                flex: 0 0 auto;
                svg {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            &__text {
                margin: 0;
                font-family: 'ProximaNova';
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 34px;
                color: #4E3658;
            }
        }
    }
}

.review {
    background-color: #fff;
    &__inner {
        margin-top: 102px;
        &--mobile {
            display: none;
        }
        &--item {
            margin-bottom: 90px;
            display: flex;
            width: 80%;
            align-items: flex-end;
            &:first-child {
                margin: 0 auto 90px auto;
            }  
            &:nth-child(2) {
                margin-right: auto;
            }
            &:nth-child(3) {
                margin-left: auto;
            }
            &__text {
                padding: 56px 75px 69px 97px;
                background: #FFFFFF;
                border: 1px solid rgba(78, 54, 88, 0.3);
                box-sizing: border-box;
                box-shadow: 5px 5px 10px rgba(78, 54, 88, 0.3);
                border-radius: 45px;
                font-family: 'ProximaNova';
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 34px;
                color: #4E3658;
            }
        }
    }
    &__person {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--img {
            display: block;
            width: 173px;
            height: 171px;
            border-radius: 100%;
            img {
                display: block;
                object-fit: cover;
            }
        }
        &--name {
            margin-top: 19px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 40px;
            color: #FAC36A;
        }
    }
}

.buy {
    padding: 126px 0 110px 0;
    &__inner {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        &--price {
            &__last {
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 900;
                font-size: 60px;
                line-height: 75px;
                text-align: center;
                text-decoration-line: line-through;
                color: #4E3658;
            }
            &__new {
                margin: 40px 0 15px 0;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 900;
                font-size: 120px;
                line-height: 150px;
                text-align: center;
                color: #FAC36A
            }
        }
        &--currency {
            margin: 0 0 32px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 900;
            font-size: 60px;
            line-height: 75px;
            text-align: center;
            color: #FAC36A;
            p {
                margin: 0;
                &::after {
                    content: '/';
                    padding: 0 5px;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    &__small {
        margin: 0 auto;
        text-align: left;
        font-family: 'ProximaNova';
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        color: #4E3658;
        small {
            margin-bottom: 15px;
            display: block;
        }
        &--public {
            color: #4E3658;
            text-decoration: underline;
        }
    }
}

.footer {
    padding-bottom: 120px;
    &__inner {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--text {
            font-family: 'ProximaNova';
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            color: #4E3658;
        }
        &--email {
            font-family: 'ProximaNova';
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            color: #FAC36A;
            text-decoration: underline;
            &:hover {
                color: #FFB641;
                transition: .2s linear;
            }
        }
    }
    &__link {
        margin: 60px auto 0 auto;
        display: flex;
        justify-content: space-between;
        width: 550px;
        &--item {
            display: block;
            width: 65px;
            height: 65px;
            fill: #FAC36A;
            svg {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media (max-width: 1366px) {
    .title {
        font-size: 72px;
        line-height: 86px;
        &-intro {
            &::after {
                top: -6px;
                right: 57px;
            }
        }
    }
    .subtitle {
        font-size: 28px;
    }
    .intro {
        &__img {
            width: 100%;
            height: 100%;
        }
    }
    .whywe {
        &__text {
            font-size: 24px;
        }
    }
    .pros {
        &__inner {
            &--item {
                &__text {
                    font-size: 24px;
                }
            }
        }
    }
    .autor {
        &__inner {
            &--text {
                font-size: 24px;
            }
        }
        &__title {
            font-size: 56px;
        }
        &__subtitle {
            font-size: 28px;
            &::after {
                width: 203px;
            }
        }
        &__text {
            margin-top: 65px;
        }
    }
}
@media (max-width: 1112px) {
    .container {
        padding: 0 1%;
    }
    .title {
        font-size: 64px;
        line-height: 77px;
        &-intro {
            &::after {
                top: -4px;
                right: 93px;
            }
        }
        &-autor {
            padding: 0;
        }
    }
    .subtitle {
        font-size: 22px;
        line-height: 26px;
    }
    .button {
        width: 360px;
        height: 95px;
        padding: 25px 0;
    }
    .intro {
        padding: 130px 0 167px 0;
        &__img {
            right: -1%;
            top: 9%;
            width: 90%;
            height: 110%;
        }
    }
    .whywe {
        &__text {
            margin-bottom: 70px;
        }
    }
    .pros {
        &__inner {
            &--item {
                width: 355px;
                &__text {
                    font-size: 24px;
                }
            }
        }
        &__img {
            width: 100%;
            height: 600px;
        }
    }
    .autor {
        &__inner {
            width: 720px;
            &--text {
                font-size: 24px;
            }
        }
        &__title {
            font-size: 52px;
        }
        &__subtitle {
            font-size: 28px;
        }
    }
    .review {
        &__inner {
            &--item {
                &__text {
                    font-size: 24px;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .pros {
        &__inner {
            &--item {
                width: 320px;
                padding: 50px 10px;
                height: 325px;
            }
        }
    }
}
@media (max-width: 991px) {
    .title {
        font-size: 64px;
        &-intro {
            width: auto;
            &::after {
                display: none;
            }
        }
        &-whywe {
            padding: 0;
            margin-bottom: 40px;
        }
    }
    .subtitle {
        &-intro {
            width: auto;
            padding: 0 15%;
        }
    }
    .button {
        &-intro {
            margin: 0 auto;
        }
    }
    .intro {
        position: relative;
        padding: 50px 0 1000px 0;
        display: flex;
        flex-direction: column-reverse;
        &__logo {
            margin: 0 auto;
        }
        &__img {
            top: 43%;
            right: -3%;
            width: 1370px;
            height: 1143px;
        }
        &__text {
            position: static;
            text-align: center;
        }
    }
    .whywe {
        &__text {
            margin-bottom: 50px;
        }
    }
    .pros {
        &__inner {
            &--item {
                &:hover {
                    background: #ffffff;
                    border: 1px solid rgba(78, 54, 88, 0.3);
                    transform: none;
                }
            }
        }
    }
    .autor {
        &__inner {
            width: 670px;
            padding: 72px 90px 80px 93px;
        }
        &__img {
            width: 588px;
            height: 830px;
        }
    }
    .about {
        &__inner {
            &--item {
                &__img {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 834px) {
    .title {
        &-pros {
            padding: 0 15px;
        }
        &-autor {
            padding: 0 15px;
        }
        &-review {
            margin-bottom: 40px;
        }
    }
    .subtitle {
        &-video {
            text-align: center;
        }
    }
    .button {
        &-review {
            margin: 40px auto 0 auto;
        }
    }
    .intro {
        &__img {
            width: 1236px;
            height: 1000px;
        }
    }
    .whywe {
        &__inner {
            padding: 50px 70px 120px 70px;
        }
    }
    .video {
        padding: 145px 0 100px 0;
        &__text {
            padding: 50px 15px 0 15px;
        }
        &__inner {
            display: flex;
            flex-direction: column;
            padding: 80px 70px 150px 70px;
            &--text {
                width: 70%;
                text-align: center;
            }
        }
        &-thin {
            text-align: center;
        }
        &__img {
            margin-top: 40px;
        }
        .heart {
            &-yellow {
                bottom: 0;
            }
            &-pink {
                top: 87%;
            }
            &-dark {
                top: -3%;
                right: 5%;
            }
        }
    }
    .pros {
        &__inner {
            &--item {
                width: 48%;
            }
        }
    }
    .autor {
        &__inner {
            margin: 0 auto;
            padding: 72px 90px 0px 93px;
        }
        &__img {
            position: static;
            width: 523px;
            height: 750px;
        }
    }
    .review {
        &__inner {
            display: none;
            &--item {
                &__text {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                }
            }
            &--mobile {
                display: flex;
                flex-direction: column;
            }
        }
        &__person {
            &--name {
                margin: 0 20px;
            }
            &--mobile {
                margin-top: 30px;
                display: flex;
                align-items: center;
            }
        }
    }
    .buy {
        &__inner {
            &--price {
                &__last {
                    font-size: 52px;
                }
                &__new {
                    font-size: 100px;
                }
            }
        }
    }
    .footer {
        &__link {
            width: 45%;
            &--item {
                width: 50px;
                height: 50px;
            }
        }
    }
}
@media (max-width: 768px) {
    .container {
        padding: 0 3%;
    }
    .title {
        line-height: 78px;
    }
    .subtitle {
        line-height: 29px;
    }
    .button {
        width: 340px;
        height: 80px;
        padding: 17px 0;
        font-size: 28px;
    }
    .intro {
        background-size: 100%;
        background-color: #E4E4FF;
        &__img {
            width: 1107px;
            height: 908px;
        }
    }
    .whywe {
        &__text {
            font-size: 24px;
            line-height: 29px;
        }
    }
    .video {
        &__inner {
            padding: 80px 0 150px 0;
        }
        &__thin {
            font-size: 24px;
            text-align: center;
        }
        .heart {
            &-yellow {
                bottom: 38%;
            }
        }
    }
    .footer {
        &__inner {
            &--text {
                font-size: 24px;
            }
            &--email {
                font-size: 24px;
            }
        }
    }
}
@media (max-width: 667px) {
    .title {
        font-size: 54px;
        line-height: 65px;
    }
    .subtitle {
        font-size: 19px;
        line-height: 23px;
        &-intro {
            margin: 29px 0 50px 0;
        }
        &-video {
            font-size: 24px;
        }
        &-buy {
            &-buy {
                display: none;
            }
        }
    }
    .button {
        &-buy {
            margin: 40px auto;
        }
    }
    .intro {
        padding: 50px 0 700px 0;
        &__img {
            top: 46%;
            width: 972px;
            height: 799px;
        }
    }
    .whywe {
        padding: 90px 0;
    }
    .pros {
        padding: 104px 0 0 0;
        &__inner {
            padding: 90px 0 0 0;
        }
    }
    .autor {
        padding: 50px 0;
        &__text {
            margin-top: 40px;
        }
        &__inner {
            width: 98%;
            padding: 50px 30px 0px 30px;
            &-text {
                margin-bottom: 30px;
                font-size: 19px;
                line-height: 23px;
            }
        }
        &__title {
            font-size: 42px;
        }
        &__subtitle {
            font-size: 24px;
            margin-top: 10px;
            &::after {
                margin-top: 20px;
                width: 176px;   
            }
        }
        &__img {
            margin: 0 auto;
            width: 368px;
            height: 508px;
        }
    }
    .about {
        padding: 50px 0;
        &__inner {
            padding: 0 2%;
            margin-top: 50px;
            &--item {
                &__text {
                    text-align: center;
                    font-size: 22px;
                    line-height: 25px;
                }
            }
        };
    }
    .review {
        padding-top: 40px;
        &__inner {
            &--item {
                &__text {
                    padding: 40px 30px 50px 30px;
                    font-size: 21px;
                    text-align: center;
                }
            }
        }
        &__person {
            &--img {
                width: 78px;
                height: 77px;
                img {
                    width: 78px;
                    height: 77px;
                }
            }
            &--name {
                font-size: 28px;
            }
        }
    }
    .buy {
        padding: 120px 0 60px 0;
        &__inner {
            &--price {
                &__last {
                    font-size: 44px;
                    line-height: 53px;
                }
                &__new {
                    margin: 30px 0 15px 0;
                    font-size: 90px;
                    line-height: 108px;
                }
            }
            &--currency {
                font-size: 48px;
                line-height: 53px;
            }
        }
        &__small {
            font-size: 14px;
            line-height: 17px;
        }
    }
    .footer {
        &__inner {
            &--text {
                font-size: 21px;
            }
            &--email {
                font-size: 21px;
            }
        }
        &__link {
            margin: 40px auto 0 auto;
            width: 40%;
            &--item {
                width: 35px;
                height: 35px;
            }
        }
    }
}
@media (max-width: 568px) {
    .pros {
        &__inner {
            display: flex;
            justify-content: center;
            &--item {
                margin-bottom: 30px;
                width: 80%;
                &:hover {
                    transform: none;
                }
            }
        }
    }
}
@media (max-width: 414px) {
    .title {
        &-intro {
            font-size: 45px;
            line-height: 56px;
            margin-top: 10px;
        }
        &-whywe {
            margin-bottom: 25px;
            font-size: 34px;
            line-height: 42px;
            &-last {
                margin-top: 40px;
                font-size: 34px;
                line-height: 42px;
            }
        }
        &-pros {
            font-size: 34px;
            line-height: 42px;
        }
        &-about {
            text-align: center;
            font-size: 32px;
            line-height: 40px;
        }
        &-review {
            margin-bottom: 30px;
            font-size: 34px;
            line-height: 42px;
        }
        &-buy {
            margin-bottom: 30px;
            font-size: 34px;
            line-height: 42px;
        }
        &-footer {
            font-size: 34px;
            line-height: 42px;
        }
    }
    .subtitle {
        &-intro {
            margin: 20px 0;
        }
        &-whywe {
            margin-bottom: 40px;
            font-size: 24px;
            line-height: 29px;
        }
        &-review {
            font-size: 24px;
            line-height: 29px;
        }
        &-buy {
            font-size: 24px;
            line-height: 29px;
        }
    }
    .button {
        width: 260px;
        font-size: 24px;
    }
    .intro {
        &__img {
            width: 676px;
            height: 630px;
        }
    }
    .whywe {
        padding: 40px 0;
        &__inner {
            padding: 20px 20px 70px 20px;
        }
    }
    .video {
        padding: 60px 0 40px 0;
        &__inner {
            padding: 35px 0 120px 0;
            &--text {
                width: 81%;
            }
        }
        &__img {
            width: 235px;
            height: 184px;
            img {
                width: 235px;
                height: 184px;
            }
        }
        &__play {
            width: 70px;
            height: 70px;
        }
        .heart {
            &-dark {
                width: 26px;
                height: 24px;
                top: -2%;
                right: 9%;
            }
            &-pink {
                width: 28px;
                height: 30px;
                top: 80%;

            }
            &-yellow {
                width: 41px;
                height: 40px;
                bottom: 42%;
            }
        }
        &__text {
            padding: 35px 0 0 0;
            font-size: 24px;
            line-height: 30px;
        }
    }
    .pros {
        padding: 50px 0 0 0;
        &__inner {
            &--item {
                width: 95%;
            }
        }
        &__img {
            height: 300px;
        }
    }
    .autor {
        &__inner {
            &--text {
                font-size: 21px;
            }
        }
        &__title {
            font-size: 34px;
            line-height: 42px;
        }
        &__subtitle {
            font-size: 24px;
            line-height: 29px;
        }
        &__img {
            width: 268px;
            height: 364px;
        }
    }
    .about {
        &__inner {
            &--item {
                margin-bottom: 30px;
                padding-bottom: 18px;
                &__text {
                    font-size: 21px;
                    line-height: 26px;

                }
            }
        }
    }
    .review {
        &__inner {
            &--item {
                &__text {
                    font-size: 21px;
                    line-height: 26px;
                }
            }
        }
    }
    .buy {
        &__inner {
            &--price {
                &__last {
                    font-size: 34px;
                    line-height: 42px;
                }
                &__new {
                    margin: 20px 0 0 0;
                    font-size: 60px;
                    line-height: 75px;
                }
            }
            &--currency {
                font-size: 32px;
                line-height: 40px;
            }
        }
        &__small {
            padding: 0 10%;
        }
    }
    .footer {
        padding-bottom: 50px;
        &__inner {
            margin-top: 25px;
            &--text {
                font-size: 18px;
            }
            &--email {
                font-size: 18px;
            }
        }
        &__link {
            width: 80%;
        }
    }
}
/*FONTS*/
@font-face {
    font-family: 'ProximaNova'; 
    src: url("../fonts/ProximaNova-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'ProximaNova'; 
    src: url("../fonts/ProximaNova-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: 'FuturaPT'; 
    src: url('../fonts/FuturaPT-Book.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy'; 
    src: url('../fonts/gilroy-black.ttf');
    font-weight: 900;
}